### OSX template
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

*.cache
*.pyc

.vscode

/node_modules
.dart_tool
pubspec.lock
*.vsix

package-lock.json
yarn.lock

colours/node_modules
colours/package-lock.json
colours/yarn.lock
colours/dist